@charset "utf-8";

body {
	background-color: white;
	color: black;
}

.my-navbar {
	background-color: white
}

.card-body {
	background-color: #D8BFD8
}

.btn {
	background-color: white
}

h5 {
	background-color: white;
	width: 300px;
	height: 25px;
	text-align: center;
	margin: 0 auto;
}

h6 {
background-color: white;
width: 300px;
height: 40px;
text-align: center;
margin: 0 auto;
}

div1 {
	display: inline-block;
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	
}

div2 {
	display: inline-block;
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	
}

div3 {
	display: inline-block;
	width: 1000px;
	height: 475px;
	margin: 0 auto;
	
}

img1 {
	float: right;
}


button {
	background-color: white;
	color: black;
	text-decoration-color: #D8BFD8;
	border: #D8BFD8;
}

H6, P2 {
	font: bolder;
}

P2, H7 {font-family: 'Oswald', sans-serif;}